
body{
    background-image: url(./a0f7eb37793dbc935e7514303073d9bc.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
   overflow: hidden;
}
#calculator-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 104, 143, 0.068);
    width:320px;
    padding: 20px;
    border: 1px solid black;
    align-items: center;
    border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
  margin-top: 250px;
  z-index: 11px;
}

#display-area{
    background-color: rgba(41, 40, 40, 0.24);
    height: 50px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
    font-size: 22px;
    display: flex;
    align-items: center;
    z-index: 1px;
    
}

.calculator-row{
    margin: 5px auto;
}

.calculator-row button{
   font-size: 20px;
   width: 60px;
   height: 60px;
   border-radius: 10px;
   background-color: rgba(45, 81, 112, 0.199);
   color: rgb(255, 255, 255);
   margin: 2px 6px;
}

button:hover{
    cursor: pointer;
}

body{
 color: black;
    background-color: rgba(71, 71, 146, 0.623);
}



@media (width < 400px) {
    #calculator-container {
        margin-top: 150px;
       
    }
}
